*{
    margin :0;
    list-style: none;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;

}
html, body{
    background-color: #efefef;
    margin: 0 0;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.side-bar .menu a:hover i {
  margin-left: 2rem;
}
.side-bar .menu a:hover i{
  color: #ffffff;
}
.side-bar .menu div:hover a{
  color: #ffffff;
  font-weight: 500;
}
nav{
    display: flex;
    height: fit-content;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to right, #dcccf3, #b3e5ef, #add2d0);
    position: sticky;
    top: 0;
    z-index: 100;
}

.search{
    outline: none;
    width: 150px;
    
}
.search-box input{
    width: 100%;
    background: transparent;
    padding: 10px;
    outline:none;
    border: 0;
}
.noti{
    cursor: pointer;
    width: 40px;
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    height: 40px;
    margin-top: 10px;
    max-width: 50px;
    max-height: 50px;
}
.logo{
    width: 50px;
    cursor: pointer;
    margin-right: 45px;
}
.avatar{
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    margin-top: 10px;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    cursor: pointer;
    width: 40px;
    display: flex;
    height: 40px;
    max-width: 50px;
    max-height: 50px;
}
#sidebar{
    position: fixed;
    background: linear-gradient(to right, #dcccf3, #b3e5ef, #add2d0);
    height: 100%;
    width: 270px;
    overflow: hidden;
    left: -270px;
    transition: all 0.3s ease;
  }
  #btn:checked ~ #sidebar{
    left: 0;
  }
  #sidebar .title{
    line-height: 65px;
    text-align: center;
    background: linear-gradient(to right, #dcccf3, #b3e5ef, #add2d0);
    font-size: 25px;
    font-weight: 600;
    color: #000000;
    border-bottom: 1px solid #222;
  }
  #sidebar .list-items{
    position: relative;
    background: #404040;
    width: 100%;
    height: 100%;
    list-style: none;
  }
  #sidebar .list-items li{
    padding-left: 40px;
    line-height: 50px;
    border-top: 1px solid rgba(255,255,255,0.1);
    border-bottom: 1px solid #333;
    transition: all 0.3s ease;
  }
  #sidebar .list-items li:hover{
    border-top: 1px solid transparent;
    border-bottom:  1px solid transparent;
    box-shadow: 0 0px 10px 3px #222;
  }
  #sidebar .list-items li:first-child{
    border-top: none;
  }
  #sidebar .list-items li a{
    color:  #000000;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    height: 100%;
    width: 100%;
    display: block;
  }
  #sidebar .list-items li a span{
    margin-right: 20px;
  }
  .side-bar {
    background: linear-gradient(to right, #dcccf3, #b3e5ef, #add2d0);
    backdrop-filter: blur;
    width: 290px;
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: 9999;
    left: -100%;
    overflow-y: auto;
    transition: 0.6s ease;
    transition-property: left;
  }
  
  .side-bar.active {
    left: 0;
  }
  
  .side-bar .menu {
    width: 100%;
    margin-top: 80px;
  }
  
  .side-bar .menu .item {
    position: relative;
    cursor: pointer;
  }
  
  .side-bar .menu .item a {
    color: #000000;
    font-size: 20px;
    display: block;
    text-decoration: none;
    padding: 5px 30px;
    line-height: 60px;
  }
  
  .side-bar .menu .item a:hover {
    background: #9621F8;
    transition: 0.3s ease;
  }
  
  .side-bar .menu .item i {
    margin-right: 20px;
  }
  
  .close-btn {
    position: relative;
    color: #000000;
    font-size: 20px;
    right: 0;
    margin: 25px;
    cursor: pointer;
  }
  
  .menu-btn {
    position: relative;
    color: #000000;
    font-size: 20px;
    margin: 25px;
    cursor: pointer;
  }
.wrapper{
  width: 100%;
  background: linear-gradient(to right, #dcccf3, #b3e5ef, #add2d0);
  margin-top: 20px;
  align-self: center;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 15px 40px rgba(0,0,0,0.12);  
}
.wrapper header{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 30px 10px;
  justify-content: space-between;
}
header .icons{
  display: flex;
}
header .icons span{
  height: 40px;
  width: 40px;
  margin: 0 1px;
  cursor: pointer;
  color: #1db7ae;
  text-align: center;
  line-height: 40px;
  font-size: 1.9rem;
  user-select: none;
  border-radius: 50%;
}
.icons span:last-child{
  margin-right: -10px;
}
header .icons span:hover{
  background: #f2f2f2;
}
header .current-date{
  font-size: 1.45rem;
  font-weight: 500;
}
.calendar{
  padding: 20px;
}
.calendar ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-align: center;
}
.calendar .days{
  margin-bottom: 20px;
}
.calendar li{
  color: #333;
  width: calc(100%/7);
  font-size: 1.07rem;
}
.calendar .weeks li{
    z-index: 1;
    cursor: pointer;
    position: relative;
    margin-top: 30px;
}
.days{
  cursor: pointer;
}
.days li.inactive{
  color: #aaa;
}
.days li.active{
  color: #fff;
  text-decoration: underline;
}
.days li::before{
  position: absolute;
  content: " ";
  left: 50%;
  top: 50%;
  height: 40px;
  width: 40px;
  z-index: -1;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
.days li.active:before{
  background: #9b59b6;
}
.days li:not(.active):hover::before{
  background: linear-gradient(to right, #dcccf3, #b3e5ef, #add2d0);
}