*{
    margin :0;
    list-style: none;
    text-decoration: none;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;

}
html, body{
    background-color: #efefef;
    margin: 0 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}
#usernamedisplay {
  text-align: left;
  margin-left: 10px;
  color: #1DB7AE;
  font-weight: 800;

  margin-top: 50px;
  padding-left: 20px;
}

.group-change {
margin-top: 30px;
}

.form-group {
position: relative;
right: 0;
left: 0;
margin-top: 50px;
margin-bottom: 50px;
}

#FirstChange, #after, #afterchange{
position: absolute;
right: 25px;
}
nav{
    display: flex;
    height: fit-content;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to right, #dcccf3, #b3e5ef, #add2d0);

    position: sticky;
    top: 0;
    z-index: 100;
}

.search{
    outline: none;
    width: 150px;
    
}
.search-box input{
    width: 100%;
    background: transparent;
    padding: 10px;
    outline:none;
    border: 0;
}
.noti{
    cursor: pointer;
    width: 40px;
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    height: 40px;
    margin-top: 10px;
    max-width: 50px;
    max-height: 50px;
}
.logo{
    width: 50px;
    cursor: pointer;
    margin-right: 45px;
}
.avatar{
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    margin-top: 10px;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    cursor: pointer;
    width: 40px;
    display: flex;
    height: 40px;
    max-width: 50px;
    max-height: 50px;
}
#sidebar{
    position: fixed;
    background: linear-gradient(to right, #dcccf3, #b3e5ef, #add2d0);
    height: 100%;
    width: 270px;
    overflow: hidden;
    left: -270px;
    transition: all 0.3s ease;
  }
  #btn:checked ~ #sidebar{
    left: 0;
  }
  #sidebar .title{
    line-height: 65px;
    text-align: center;
    background: linear-gradient(to right, #dcccf3, #b3e5ef, #add2d0);
    font-size: 25px;
    font-weight: 600;
    color: #000000;
    border-bottom: 1px solid #222;
  }
  #sidebar .list-items{
    position: relative;
    background: #404040;
    width: 100%;
    height: 100%;
    list-style: none;
  }
  #sidebar .list-items li{
    padding-left: 40px;
    line-height: 50px;
    border-top: 1px solid rgba(255,255,255,0.1);
    border-bottom: 1px solid #333;
    transition: all 0.3s ease;
  }
  #sidebar .list-items li:hover{
    border-top: 1px solid transparent;
    border-bottom:  1px solid transparent;
    box-shadow: 0 0px 10px 3px #222;
  }
  #sidebar .list-items li:first-child{
    border-top: none;
  }
  #sidebar .list-items li a{
    color:  #000000;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    height: 100%;
    width: 100%;
    display: block;
  }
  #sidebar .list-items li a span{
    margin-right: 20px;
  }
  .side-bar {
    background: linear-gradient(to right, #dcccf3, #b3e5ef, #add2d0);
    backdrop-filter: blur;
    width: 290px;
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: 9999;
    left: -100%;
    overflow-y: auto;
    transition: 0.6s ease;
    transition-property: left;
  }
  
  .side-bar.active {
    left: 0;
  }
  
  .side-bar .menu {
    width: 100%;
    margin-top: 80px;
  }
  
  .side-bar .menu .item {
    position: relative;
    cursor: pointer;
  }
  
  .side-bar .menu .item a {
    color: #000000;
    font-size: 20px;
    display: block;
    text-decoration: none;
    padding: 5px 30px;
    line-height: 60px;
  }
  
  .side-bar .menu .item a:hover {
    background: #9621F8;
    transition: 0.3s ease;
  }
  
  .side-bar .menu .item i {
    margin-right: 20px;
  }
  
  .close-btn {
    position: relative;
    color: #000000;
    font-size: 20px;
    right: 0;
    margin: 25px;
    cursor: pointer;
  }
  
  .menu-btn {
    position: relative;
    color: #000000;
    font-size: 20px;
    margin: 25px;
    cursor: pointer;
  }
  main section.middle .header {
    display: flex;
    align-items: center;
    gap: 1rem;
}
main section.middle .header input[type='date'] {
    padding: 0.5rem 2rem;
    border-radius: var(--border-radius-2);
    background: var(--color-white);
    color: var(--color-gray-dark);
}
/* .typechange {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
} */

.changesinput {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#submitchange{
  display: flex;
  text-align: center;
  max-width: 200px;
  align-self: center;
  background: linear-gradient(to right, #dcccf3, #b3e5ef, #add2d0);
  justify-content: center;
  align-items: center;
}
main section.middle .cards {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}
main section.middle .cards .card {
    background: linear-gradient(to right, #dcccf3, #b3e5ef, #add2d0);
    padding: var(--card-padding);
    border-radius: 11px;
    color: white;
    height: 11rem;
    display:flex;
    align-self: center;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 2rem 3rem var(--color-danger-light);
    transition: all 300ms ease;
    min-width: 20rem;
}
main section.middle .cards .card:nth-child(2) {
    background: linear-gradient(#7f8191, #27282f);
    box-shadow: 0 2rem 3rem rgba(0,0,0,0.2);
}
main section.middle .cards .card:nth-child(3) {
    background: linear-gradient(#5d70ff, #5719c2);
    box-shadow: 0 2rem 3rem var(--color-primary-light);
}
main section.middle .cards .card:hover {
    box-shadow: none;
}
main section.middle .card .top {
    display: flex;
    margin: 5px;
    justify-content: space-between;
    align-items: center;
}
main section.middle .card .top .left {
    display: flex;
    gap: 0.5rem;
    margin: 5px;
}
main section.middle .card .top .left h2 {
    font-weight: 200;
    font-size: 1.4rem;
    margin: 5px;
}
main section.middle .card .top .left img {
    width: 2.3rem;
    margin: 5px;
    height: 2.3rem;
    border: 1px solid white ;
    border-radius: var(--border-radius-2);
    padding: 0.4rem;
}
main section.middle .card .top img.right {
    width: 3.5rem;
    margin: 5px;
}
main section.middle .card .middle {
    display: flex;
    justify-content: space-between;
}
main section.middle .card .middle .chip{
    width: 3.5rem;
    margin: 5px;
}
main section.middle .card .bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 5px;
}
main section.middle .card .bottom .right {
    display: flex;
    margin: 5px;
    gap: 2rem;
}
.side-bar .menu a:hover i {
  margin-left: 2rem;
}
.side-bar .menu a:hover i{
  color: #ffffff;
}
.side-bar .menu div:hover a{
  color: #ffffff;
  font-weight: 500;
}
.form-group{
  display: flexbox;
  justify-content: center;
  align-items: center;
}